@import '../../../assets/scss/style';

:host {
    display: flex;
}

.field {
    border: 10px solid #999;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    &__row {
        display: flex;
        flex: 1 0 auto;
    }

    &__cell {
        @include square(70px);
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;

        &--black {
            background-color: #666;
        }

        &--white {
            background-color: #ccc;
        }
    }
}

.figure {
    cursor: pointer;
}