@import '../../../assets/scss/style';

$cell-size: 70px;
$coord-border-size: 30px;

:host {
    display: flex;
    justify-content: space-around;
}

.field {
    border: 10px solid #999;
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        flex: 1 0 auto;
    }

    &__coord-row {
        display: flex;

        & .field__coord-cell {
            height: $coord-border-size;
        }
    }

    &__coord-cell {
        @include square($coord-border-size);
        @include flex-center;
        background-color: #aaa;

        &--wide {
            width: $cell-size;
        }

        &--tall {
            height: $cell-size;
        }
    }

    &__cell {
        @include square($cell-size);
        @include flex-center;
        flex: 1 0 auto;
        box-sizing: border-box;

        &--black {
            background-color: #666;
        }

        &--white {
            background-color: #ccc;
        }

        &--availible {
            border: 5px solid green;
        }
    }

    &__figure {
        cursor: grab;
    }
}

.figure {
    font-size: 50px;
}

.felled-figures {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__single {
        margin: 5px 0;
    }
}